#contact{
    .contact{
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
    }

    .contact-items{
        width: 350px;
    }

    .contact-item{
        padding: 20px;
        width: 80%;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 18px 0 #0000002c;
        flex-direction: column;
        transition: .3s ease box-shadow;

        &:hover{
            box-shadow: 0px 0px 3px 0 #0000002c;
        }
    }

    .icon{
        width: 70px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .contact-info{
        h1{
            margin-bottom: 5px;
            font-size: 2.5rem;
            font-weight: 550;
        }
        h2{
            margin-bottom: 5px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2rem;
        }
    }
}