// FONTS IMPORT


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// OTHER IMPORTS
@import "animations";
@import "tablet";


// FUNCTIONS
@mixin ht-wt100 {
    height: 100%;
    width: 100%;
}

// CODES

#top {
    background-image: url(../img/my-bg2.jpg);
    background-position: top center;
    background-size: cover;
    @include ht-wt100();
    position: relative;
    z-index: 1;
    
    .top {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }

    &::after{
        content: "";
        top: 0;
        left: 0;
        @include ht-wt100();
        background-color: black;
        position: absolute;
        opacity: .7;
        z-index: -1;
    }
}

#top h1{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 5rem;
    color: transparent;
    letter-spacing: 0.8rem;
    display: block;
    width: fit-content;
    position: relative;
    animation: Heading_reveal .5s ease forwards;
    animation-delay: 1s;

    span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: crimson;
        animation: Heading_box_reveal 1s ease;
        animation-delay: .5s;
    }
    
    &:nth-child(1){
        animation-delay:1s;
        span{
            animation-delay: .5s;
        }

    }
    &:nth-child(2){
        animation-delay:2s;
        span{
            animation-delay: 1.5s;
        }
    }
    &:nth-child(3){
        animation: Heading_name_reveal .5s ease forwards;
        animation-delay:3s;
        span{
            animation-delay: 2.5s;
        }
    }
}
